body {
  background-image: url("/gox10.jpg");
  font-family: roboto;
  background-position: right;
  background-size: auto;
}

button {
  color: rgb(255, 255, 255);
  background-color: #303030;
  width: 100px;
  height: 50px;
  margin-left: 12px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  touch-action: manipulation;
}

button:hover,
.playAgain-btn:hover {
  cursor: pointer;
  background-color: #4b4a4a;
}

.show-winner-final,
.play-ground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.show-winner-final,
.play-ground {
  background-color: #e6e6e6;
  width: 460px;
  height: 250px;
  border-radius: 8px;
  display: none;
  text-align: center;
  padding: 18px;
  align-items: center;
}

.playerChoice-container,
.score-container,
.final-score {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.result {
  margin: 20px;
  text-align: center;
  color: rgb(28, 27, 27);
  font-weight: bold;
}

.playerScore,
.computerScore {
  margin: 15px;
  color: white;
}

.playerScore {
  color: green;
  font-weight: bold;
}

.computerScore,
.resultRound {
  color: red;
  font-weight: bold;
}

.player,
.computer {
  font-weight: bold;
}

.play-ground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-choice {
  display: flex;
}

.playAgain-btn {
  border: none;
  background-color: #303030;
  width: 200px;
}

.final-score {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  body {
    background-position: center;
  }
  .show-winner-final,
  .play-ground {
    width: 90%;
  }
}
